@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* h1 {
  font-size: 2rem;
  font-weight: 700;

}

h2 {
  font-size: 1.5rem;
  font-weight: 600;

}

h3 {
  font-size: 1.25rem;
  font-weight: 500;

}

h4 {
  font-size: 1rem;
  font-weight: 500;

}

h5 {
  font-size: 0.875rem;
  font-weight: 500;

}

h6 {
  font-size: 0.75rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;

} */
* {
  scroll-behavior: smooth;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #0040ff;
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #0062ff;
}


@theme {


  --spacing-xs: .25rem;
  --spacing-sm: 2rem;
  --spacing-md: 2rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 32px;
}

@theme {
  --color-bg-pri: #ffffff;
  /* الخلفية الأساسية */
  --color-bg-sec: #f9fafb;
  /* خلفية ثانوية (للكروت أو الـ sections) */
  --color-text-pri: #111827;
  /* النص الأساسي */
  --color-text-sec: #4b5563;
  /* النص الثانوي */
  --color-border: #e5e7eb;
  /* حدود أو فواصل */

  --color-primary: #2563eb;
  /* أزرق - أزرار/لينكات */
  --color-primary-hover: #1d4ed8;
  --color-accent: #f59e0b;
  /* Accent (مثلاً سعر/تنبيه) */
  --color-navbar-light: #ffffff;
  /* أبيض نضيف */
  --color-navbar-border: #e5e7eb;
  /* خط فاصل خفيف */
  --color-navbar-text: #111827;
  /* نص غامق */
  --color-navbar-text-sec: #4b5563;
  /* نص ثانوي */

}

@theme {
  --color-bg-dark: #000;
  /* خلفية أساسية */
  --color-bg-dark-sec: #0001;
  /* خلفية ثانوية */
  --color-text-dark: #f9fafb;
  /* نص فاتح */
  --color-text-dark-sec: #cbd5e1;
  /* نص ثانوي */
  --color-border-dark: #334155;
  /* حدود */

  --color-primary-dark: #3b82f6;
  /* أزرق أفتح عشان يبان */
  --color-primary-dark-hover: #60a5fa;
  --color-accent-dark: #fbbf24;
  /* Accent */
  --color-navbar-dark: #1e293b;
  /* رمادي غامق */
  --color-navbar-border-dark: #334155;
  /* خط فاصل */
  --color-navbar-text-dark: #f9fafb;
  /* نص فاتح */
  --color-navbar-text-dark-sec: #cbd5e1;

}

@utility dropShadow {
  animation: dropShadow 5s ease-in-out infinite;
  -webkit-animation: dropShadow 5s ease-in-out infinite;
}

@keyframes dropShadow {
  0% {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  }

  50% {
    filter: drop-shadow(0 10px 15px rgb(254, 152, 1));
    -webkit-filter: drop-shadow(0 10px 15px rgb(254, 152, 1));
  }

  100% {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  }
}